@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-black-50: oklch(96.02% 0.003 325.6);
  --color-black-100: oklch(92.21% 0.005 325.62);
  --color-black-200: oklch(84.16% 0.014 325.7);
  --color-black-300: oklch(76.02% 0.02 325.77);
  --color-black-400: oklch(67.66% 0.026 325.86);
  --color-black-500: oklch(59.05% 0.033 325.98);
  --color-black-600: oklch(50.37% 0.028 325.98);
  --color-black-700: oklch(41.3% 0.023 325.98);
  --color-black-800: oklch(31.69% 0.018 325.99);
  --color-black-900: oklch(21.38% 0.007 325.83);
  --color-black-950: oklch(18.09% 0.005 325.79);

  --color-crayola-blue-50: oklch(94.54% 0.026 266.61);
  --color-crayola-blue-100: oklch(89.17% 0.052 267.44);
  --color-crayola-blue-200: oklch(78.67% 0.107 265.87);
  --color-crayola-blue-300: oklch(68.39% 0.166 264.85);
  --color-crayola-blue-400: oklch(59.12% 0.222 263.57);
  --color-crayola-blue-500: oklch(51.86% 0.269 263.27);
  --color-crayola-blue-600: oklch(44.17% 0.225 263.11);
  --color-crayola-blue-700: oklch(36.15% 0.179 262.82);
  --color-crayola-blue-800: oklch(27.68% 0.13 262.15);
  --color-crayola-blue-900: oklch(18.34% 0.076 260.25);
  --color-crayola-blue-950: oklch(15.61% 0.057 257.72);

  --color-scarlet-rush-50: oklch(94.95% 0.021 13.86);
  --color-scarlet-rush-100: oklch(89.86% 0.042 14.26);
  --color-scarlet-rush-200: oklch(79.98% 0.09 14.96);
  --color-scarlet-rush-300: oklch(70.92% 0.139 17.39);
  --color-scarlet-rush-400: oklch(63.23% 0.185 20.45);
  --color-scarlet-rush-500: oklch(57.87% 0.219 25.03);
  --color-scarlet-rush-600: oklch(49.06% 0.183 24.72);
  --color-scarlet-rush-700: oklch(39.97% 0.147 24.5);
  --color-scarlet-rush-800: oklch(30.38% 0.107 23.5);
  --color-scarlet-rush-900: oklch(19.94% 0.061 21.32);
  --color-scarlet-rush-950: oklch(16.62% 0.047 20.82);

  --color-golden-pollen-50: oklch(97.98% 0.025 89.21);
  --color-golden-pollen-100: oklch(95.93% 0.049 90.52);
  --color-golden-pollen-200: oklch(92.17% 0.096 90.01);
  --color-golden-pollen-300: oklch(88.64% 0.135 89.28);
  --color-golden-pollen-400: oklch(85.69% 0.162 87.26);
  --color-golden-pollen-500: oklch(82.77% 0.17 82.63);
  --color-golden-pollen-600: oklch(70.19% 0.144 83);
  --color-golden-pollen-700: oklch(56.69% 0.116 83.33);
  --color-golden-pollen-800: oklch(42.67% 0.087 84.34);
  --color-golden-pollen-900: oklch(27.23% 0.054 88.14);
  --color-golden-pollen-950: oklch(22.24% 0.045 91.13);

  --color-alabaster-grey-50: oklch(96.31% 0.002 145.56);
  --color-alabaster-grey-100: oklch(92.48% 0.005 145.53);
  --color-alabaster-grey-200: oklch(84.71% 0.007 145.51);
  --color-alabaster-grey-300: oklch(76.87% 0.013 145.45);
  --color-alabaster-grey-400: oklch(68.71% 0.015 145.41);
  --color-alabaster-grey-500: oklch(60.43% 0.021 145.31);
  --color-alabaster-grey-600: oklch(51.48% 0.016 145.34);
  --color-alabaster-grey-700: oklch(42.26% 0.015 145.31);
  --color-alabaster-grey-800: oklch(32.36% 0.009 145.37);
  --color-alabaster-grey-900: oklch(21.77% 0.007 145.32);
  --color-alabaster-grey-950: oklch(18.37% 0.005 145.36);

  --font-roboto: var(--font-roboto);
  --font-nunito: var(--font-nunito);
}

@layer base {
  body {
    font-family: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
  }
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply font-sans;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}