@import 'tailwindcss';

@theme {
  --color-black-50: oklch(96.02% 0.003 325.6);
  --color-black-100: oklch(92.21% 0.005 325.62);
  --color-black-200: oklch(84.16% 0.014 325.7);
  --color-black-300: oklch(76.02% 0.02 325.77);
  --color-black-400: oklch(67.66% 0.026 325.86);
  --color-black-500: oklch(59.05% 0.033 325.98);
  --color-black-600: oklch(50.37% 0.028 325.98);
  --color-black-700: oklch(41.3% 0.023 325.98);
  --color-black-800: oklch(31.69% 0.018 325.99);
  --color-black-900: oklch(21.38% 0.007 325.83);
  --color-black-950: oklch(18.09% 0.005 325.79);

  --color-crayola-blue-50: oklch(94.54% 0.026 266.61);
  --color-crayola-blue-100: oklch(89.17% 0.052 267.44);
  --color-crayola-blue-200: oklch(78.67% 0.107 265.87);
  --color-crayola-blue-300: oklch(68.39% 0.166 264.85);
  --color-crayola-blue-400: oklch(59.12% 0.222 263.57);
  --color-crayola-blue-500: oklch(51.86% 0.269 263.27);
  --color-crayola-blue-600: oklch(44.17% 0.225 263.11);
  --color-crayola-blue-700: oklch(36.15% 0.179 262.82);
  --color-crayola-blue-800: oklch(27.68% 0.13 262.15);
  --color-crayola-blue-900: oklch(18.34% 0.076 260.25);
  --color-crayola-blue-950: oklch(15.61% 0.057 257.72);

  --color-scarlet-rush-50: oklch(94.95% 0.021 13.86);
  --color-scarlet-rush-100: oklch(89.86% 0.042 14.26);
  --color-scarlet-rush-200: oklch(79.98% 0.09 14.96);
  --color-scarlet-rush-300: oklch(70.92% 0.139 17.39);
  --color-scarlet-rush-400: oklch(63.23% 0.185 20.45);
  --color-scarlet-rush-500: oklch(57.87% 0.219 25.03);
  --color-scarlet-rush-600: oklch(49.06% 0.183 24.72);
  --color-scarlet-rush-700: oklch(39.97% 0.147 24.5);
  --color-scarlet-rush-800: oklch(30.38% 0.107 23.5);
  --color-scarlet-rush-900: oklch(19.94% 0.061 21.32);
  --color-scarlet-rush-950: oklch(16.62% 0.047 20.82);

  --color-golden-pollen-50: oklch(97.98% 0.025 89.21);
  --color-golden-pollen-100: oklch(95.93% 0.049 90.52);
  --color-golden-pollen-200: oklch(92.17% 0.096 90.01);
  --color-golden-pollen-300: oklch(88.64% 0.135 89.28);
  --color-golden-pollen-400: oklch(85.69% 0.162 87.26);
  --color-golden-pollen-500: oklch(82.77% 0.17 82.63);
  --color-golden-pollen-600: oklch(70.19% 0.144 83);
  --color-golden-pollen-700: oklch(56.69% 0.116 83.33);
  --color-golden-pollen-800: oklch(42.67% 0.087 84.34);
  --color-golden-pollen-900: oklch(27.23% 0.054 88.14);
  --color-golden-pollen-950: oklch(22.24% 0.045 91.13);

  --color-alabaster-grey-50: oklch(96.31% 0.002 145.56);
  --color-alabaster-grey-100: oklch(92.48% 0.005 145.53);
  --color-alabaster-grey-200: oklch(84.71% 0.007 145.51);
  --color-alabaster-grey-300: oklch(76.87% 0.013 145.45);
  --color-alabaster-grey-400: oklch(68.71% 0.015 145.41);
  --color-alabaster-grey-500: oklch(60.43% 0.021 145.31);
  --color-alabaster-grey-600: oklch(51.48% 0.016 145.34);
  --color-alabaster-grey-700: oklch(42.26% 0.015 145.31);
  --color-alabaster-grey-800: oklch(32.36% 0.009 145.37);
  --color-alabaster-grey-900: oklch(21.77% 0.007 145.32);
  --color-alabaster-grey-950: oklch(18.37% 0.005 145.36);

  --font-roboto: var(--font-roboto);
  --font-nunito: var(--font-nunito);
}

@layer base {
  body {
    font-family: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
  }
}
